<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styyle.css">




    <title>Please Verify Your Email</title>
  </head>
  <body>
    <div class="container">


      {{{body}}}
          </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
          integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>
          <script>
       M.Sidenav.init(document.querySelector('.sidenav')) //to initilize the sidenav
      M.FormSelect.init(document.querySelector('#status')) //to initilize the selector
      CKEDITOR.replace('body', {
                 plugins: 'wysiwygarea, toolbar, basicstyles, link'
             })
      </script>
  </body>
</html>
