<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/loginstyle.css">



    <title>Story Books Login</title>
  </head>
  <body>

    <div class="container login-container">
      <div class="card">
        <div class="card-content">
          <h3><i class="fas fa-book-reader"></i> StoryBooks</h3>
          <div class="section">
              <p class="lead">Create public and private stories from your life</p>
          </div>
          {{{body}}}

        </div>
      </div>
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </body>
</html>
