

{{#if  msg}}
  <div class="row">
    <div class="input-field warning">
      <span class="icon">⚠️</span>
      <span class="message">{{msg}}</span>
    </div>
  </div>
{{/if}}
{{#if  sucessmsg}}
  <div class="success-message">
    <div class="success-icon">✔️</div>
    <div class="success-text">{{sucessmsg}}</div>
  </div>
{{/if}}
<form action="/sendemailforpassword" method="POST" class="col s12">

    <div class="row">
        <div class="input-field">
            <input type="text" id="email" name="email" value="{{email}}">
            <label for="title">E-mail</label>
            <p>Please Enter Your E-mail</p>
        </div>
    </div>
    <input type="submit" value="Next" class="btn">

</form>
