/* Styles for Warning Message */
.warning {
  background-color: #ffc107;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.warning .icon {
  font-size: 1.2em;
  margin-right: 10px;
}

/* Styles for Success Message */
.success-message {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.success-message .success-icon {
  font-size: 1.2em;
  margin-right: 10px;
}

/* Styles for Profile Picture Form */

.special-form .profile-picture {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
}

.special-form .profile-picture img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.special-form .profile-picture .overlay {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: bold;
}

.special-form .profile-picture .overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


/* Styles for Profile Update Form */
.profile-update-form {
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: px; /* Add margin to the right side */
}
.profile-update-form .input-field {
  margin-bottom: 20px;
}

.profile-update-form label {
  font-weight: bold;
}


.profile-update-form input[type="submit"] {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-update-form input[type="submit"]:hover {
  background-color: #2980b9;
}

/* Styles for Password Update Form */
.password-update-form {
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.password-update-form .input-field {
  margin-bottom: 20px;
}

.password-update-form label {
  font-weight: bold;
}

.password-update-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.password-update-form input[type="submit"] {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.password-update-form input[type="submit"]:hover {
  background-color: #2980b9;
}
